@model User
@{
    ViewBag.Title = "Transactions";
}
<h1 class="text-center">Transaction History</h1>

<div class="container mt-4">
    @if (@Model.Transactions.Count != 0)
    {
        @foreach (var transaction in @Model.Transactions)
        {
            <div class="card mb-3 shadow-sm px-4">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h3 class="card-title" style="margin: 0">@if (transaction.Received)
                                                                     {
                                                                         @transaction.Partner.Username
                                                                     }
                                                                     else
                                                                     {
                                                                         @transaction.User.Username
                                                                     }</h3>
                        </div>
                        <div class="text-center">
                            <h4 class="text-primary">@transaction.Amount</h4>
                            @if (transaction.Received)
                            {
                                <span class="arrow left"></span>
                            }
                            else
                            {
                                <span class="arrow right"></span>
                            }
                            <p class="text-center" style="margin: 0; font-style: italic">@transaction.Date.ToString("MMMM, dd.mm.yyyy")</p>
                        </div>
                        <div class="text-end">
                            <h3 class="card-title" style="margin: 0">@if (transaction.Received)
                                                                     {
                                                                         @transaction.User.Username
                                                                     }
                                else
                                                                     {
                                                                         @transaction.Partner.Username
                                                                     }</h3>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="alert alert-info text-center" role="alert">
            No transactions available.
        </div>
    }
</div>
