@model IOweYou.Models.Transactions.Transaction

<div class="card mb-3 shadow-sm px-4 transaction m-auto" style="max-width: 750px;">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <div>
                <p class="text-primary" style="margin: 0">@Model.User.Username</p>
            </div>
            <div class="text-center d-flex flex-column justify-content-between align-content-center ms-3 me-3" style="flex-grow: 1">
                <p style="margin: 0; margin-bottom: 8px; font-weight: bold">@Model.Amount @Model.Currency.Name</p>
                @if (Model.Received)
                {
                    <span class="arrow left"></span>
                }
                else
                {
                    <span class="arrow right"></span>
                }
                <p class="text-center text-secondary" style="font-size: 0.75rem; margin: 0; font-style: italic; margin-top: 8px;">@Model.Date.ToString("ddd, dd.MM.yyyy")</p>
            </div>
            <div>
                <p class="text-primary" style="margin: 0"><a href="/user/@Model.Partner.Username">@Model.Partner.Username</a></p>
            </div>
        </div>
    </div>
</div>

<style>
    .arrow{
        display: inline-block;
        height: 5px;
        width: 100%;
        position: relative;
    }

    .arrow::before, .arrow::after{
        position: absolute;
        width: 0;
        height: 0;
        content: "";
        display: inline-block;
    }
    
    .arrow.left::after{
        width: calc(100% - 15px);
        background: darkgray;
        top: 0;
        right: 0;
    }

    .arrow.left::before{
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 30px solid darkgray;
        left: 0;
        top:  50%;
        transform: translateY(-50%);
    }

    .arrow.right::before{
        width: calc(100% - 15px);
        height: 4px;
        background: darkgray;
        top: 0;
        left: 0;
    }
    .arrow.right::after{
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 30px solid darkgray;
        right: 0;
        top:  50%;
        transform: translateY(-50%);
    }
</style>